
.home-cover {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
  .cover-content {
    text-align: center;
    color: white;
    
    @include laptop {
      font-size: 1rem;
    }

    h1 {
      width: fit-content;
      margin: auto;
      color: white;
      text-transform: uppercase;
      
      @include min-lg {
        font-size: 5.5rem;
      }
      
      span {
        font-size: .8rem;
        font-weight: 500;
        display: block;
        width: 100%;
        color: white;
        @include min-lg {
          font-size: 4rem;
        }
      }
    }
    
    .cover-date {
      text-transform: uppercase;
      color: white;
      font-size: .8rem;
      font-weight: 400;
      margin: .8ch 0;
      display: block;
      width: 100%;

      @include min-lg {
        font-size: 1.5rem;
      }
    }
    
    a {
      margin-top: 3ch;
    }
    
  }
}

@media(max-width:767px){
  
  .cover_slider{
    .cover_item{
      .slider_content{
        .slider-content-inner{
          .cover-title{
            font-size: 18px;
          }
          .cover-xl-text{
            font-size: 46px;
          }
          .cover-date{
            font-size: 14px;
          }
        }
      }
    }
  }
  
  .breadcrumbs ul{
    padding: 5px 30px;
  }
}